In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
train_df = pd.read_csv(Path('Resources/Desktop/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))
train_df

,Unnamed: 0,index,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,57107,57107,13375,0.1797,483.34,MORTGAGE,223000.0,Not Verified,low_risk,n,...,100.0,50.0,0,0,577150,122018,32000,170200,N,N
1,141451,141451,21000,0.1308,478.68,MORTGAGE,123000.0,Source Verified,low_risk,n,...,85.0,33.3,0,0,132750,27896,15900,35398,N,N
2,321143,321143,20000,0.1240,448.95,MORTGAGE,197000.0,Source Verified,low_risk,n,...,85.7,33.3,0,0,628160,114043,22600,90340,N,N
3,11778,11778,3000,0.1240,100.22,RENT,45000.0,Not Verified,low_risk,n,...,100.0,16.7,1,0,42006,20761,19900,15406,N,N
4,169382,169382,30000,0.1612,1056.49,MORTGAGE,133000.0,Source Verified,low_risk,n,...,100.0,66.7,0,0,283248,109056,79500,58778,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,354912,354912,19975,0.2565,801.09,RENT,28000.0,Not Verified,high_risk,n,...,100.0,16.7,0,0,50055,28192,18700,19055,N,N
12176,354944,354944,15000,0.1774,540.34,RENT,50000.0,Verified,high_risk,n,...,90.5,11.1,0,0,70324,57025,13300,54824,N,N
12177,354973,354973,3600,0.1862,131.28,RENT,60000.0,Not Verified,high_risk,n,...,100.0,0.0,0,0,83765,55156,14800,53065,N,N
12178,355002,355002,15000,0.0881,475.68,MORTGAGE,62000.0,Source Verified,high_risk,n,...,100.0,0.0,0,0,189930,23748,7000,32930,N,N
12179,355307,355307,15000,0.1774,540.34,RENT,54080.0,Not Verified,high_risk,n,...,90.0,100.0,0,0,48968,29786,2900,33968,N,N

In [3]:
y_train = train_df["loan_status"]
pd.get_dummies(y_train, drop_first = True)
y_test = test_df["loan_status"]
pd.get_dummies(y_test, drop_first = True)

      low_risk
0            1
1            1
2            1
3            1
4            1
...        ...
4697         0
4698         0
4699         0
4700         0
4701         0

[4702 rows x 1 columns]

In [4]:
# Convert categorical data to numeric and separate target feature for training data
Yes_No_dict = {'Y':1,'N':0}
train_df2 = train_df.replace({'hardship_flag':Yes_No_dict, 'debt_settlement_flag':Yes_No_dict})
Home_ownership_dict = {'ANY':0,'RENT':1,'MORTGAGE':2,'OWN':3}
train_df3 = train_df2.replace({'home_ownership':Home_ownership_dict})
verification_dict = {'Not Verified':0,'Source Verified':1,'Verified':1}
train_df4 = train_df3.replace({'verification_status':verification_dict})
Loan_status_dict = {'low_risk':1,'high_risk':0}
train_df5 = train_df4.replace({'loan_status':Loan_status_dict})
Initial_list_status_dict = {'w':0,'f':1}
train_df6 = train_df5.replace({'initial_list_status':Initial_list_status_dict})
Application_Type_dict = {'Individual':1,'Joint App':0}
train_df7 = train_df6.replace({'application_type':Application_Type_dict})
train_df8 = train_df7.drop(['index','pymnt_plan'],axis='columns')
file_path = Path('Recources/cleaned_2019_credit_data.csv')
train_df8.to_csv(file_path, index=False)
train_df9 = train_df8.drop(['Unnamed: 0'],axis='columns')
train_df9.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,dti,delinq_2yrs,inq_last_6mths,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,13375,0.1797,483.34,2,223000.0,0,1,29.99,0,0,...,100.0,50.0,0,0,577150,122018,32000,170200,0,0
1,21000,0.1308,478.68,2,123000.0,1,1,11.26,2,0,...,85.0,33.3,0,0,132750,27896,15900,35398,0,0
2,20000,0.1240,448.95,2,197000.0,1,1,11.28,0,0,...,85.7,33.3,0,0,628160,114043,22600,90340,0,0
3,3000,0.1240,100.22,1,45000.0,0,1,18.08,0,0,...,100.0,16.7,1,0,42006,20761,19900,15406,0,0
4,30000,0.1612,1056.49,2,133000.0,1,1,27.77,0,2,...,100.0,66.7,0,0,283248,109056,79500,58778,0,0

In [5]:
# Convert categorical data to numeric and separate target feature for training data
X_train = train_df9.drop('loan_status', axis=1)
y_train = train_df9['loan_status'].values
print(X_train.select_dtypes(include=[object]))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[12180 rows x 0 columns]

In [6]:
# Convert categorical data to numeric and separate target feature for testing data
test_df2 = test_df.replace({'hardship_flag':Yes_No_dict, 'debt_settlement_flag':Yes_No_dict})
test_df3 = test_df2.replace({'home_ownership':Home_ownership_dict})
test_df4 = test_df3.replace({'verification_status':verification_dict})
test_df5 = test_df4.replace({'loan_status':Loan_status_dict})
test_df6 = test_df5.replace({'initial_list_status':Initial_list_status_dict})
test_df7 = test_df6.replace({'application_type':Application_Type_dict})

test_df8 = test_df7.drop(['index','pymnt_plan'],axis='columns')

file_path = Path('Resorces/cleaned_2020_credit_data.csv')
test_df8.to_csv(file_path, index=False)
test_df9 = test_df8.drop(['Unnamed: 0'],axis='columns')
test_df9.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,dti,delinq_2yrs,inq_last_6mths,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,40000,0.0819,814.70,2,140000.0,0,1,19.75,0,1,...,97.7,0.0,0,0,527975,70914,74600,99475,0,0
1,6000,0.1524,208.70,1,55000.0,0,1,11.52,2,0,...,66.7,0.0,0,0,34628,23460,5900,23628,0,0
2,3600,0.1695,128.27,1,42000.0,0,1,6.74,0,0,...,100.0,0.0,0,0,23100,19183,7300,15000,0,0
3,20000,0.1524,478.33,1,100000.0,0,1,12.13,0,2,...,100.0,50.0,0,0,56481,43817,13800,35981,0,0
4,3600,0.1240,120.27,1,50000.0,0,1,16.08,0,3,...,100.0,25.0,0,0,45977,32448,21000,24977,0,0

In [7]:
# Add missing dummy variables to testing set
X_test = pd.get_dummies(test_df, drop_first = True)
print(X_test.columns)
X_test

Index(['Unnamed: 0', 'index', 'loan_amnt', 'int_rate', 'installment',
       'annual_inc', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'total_acc', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_amnt', 'collections_12_mths_ex_med', 'policy_code',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
       'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'home_ownership_MORTGAGE',
       'home_ownership_OWN', 'home_ownership_RENT',
       'verification_status_Source Verified', 'verification_status_Verified',
       'loan_status_low_risk', 'initial_list_status_w',
       'application_type_Joint App', 'hardship_flag_Y'],
      dtype='object')

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,total_il_high_credit_limit,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Source Verified,verification_status_Verified,loan_status_low_risk,initial_list_status_w,application_type_Joint App,hardship_flag_Y
0,67991,67991,40000,0.0819,814.70,140000.0,19.75,0,1,18,...,99475,1,0,0,0,0,1,1,0,0
1,25429,25429,6000,0.1524,208.70,55000.0,11.52,2,0,8,...,23628,0,0,1,0,0,1,1,0,0
2,38496,38496,3600,0.1695,128.27,42000.0,6.74,0,0,6,...,15000,0,0,1,0,0,1,1,0,0
3,19667,19667,20000,0.1524,478.33,100000.0,12.13,0,2,7,...,35981,0,0,1,0,0,1,1,0,0
4,37505,37505,3600,0.1240,120.27,50000.0,16.08,0,3,6,...,24977,0,0,1,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4697,77282,77282,30000,0.1240,673.42,140480.0,15.74,0,0,20,...,107388,0,0,1,1,0,0,0,0,0
4698,77291,77291,24000,0.0756,747.22,50000.0,26.81,0,0,9,...,30775,0,0,1,0,0,0,1,0,0
4699,77292,77292,10000,0.2305,387.36,33000.0,38.51,0,2,7,...,29550,0,0,1,0,1,0,0,0,0
4700,77297,77297,8000,0.1862,205.86,38000.0,16.36,0,1,8,...,9657,0,0,1,1,0,0,1,0,0
4701,77304,77304,30000,0.2055,1123.34,180000.0,12.06,0,0,8,...,209986,0,0,1,1,0,0,0,0,0

In [8]:
# Train the Logistic Regression model on the unscaled data and print the model score
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',max_iter=200)
classifier.fit(X_train, y_train)
print(f"Training Data Score: {classifier.score(X_train, y_train)}")

Training Data Score: 0.6519704433497537

C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [9]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train, y_train)
print(f'Training Score: {clf.score(X_train, y_train)}')

Training Score: 1.0

In [10]:
# Scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [ ]:
# Train the Logistic Regression model on the scaled data and print the model score
classifier.fit(X_train_scaled, y_train)
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")

In [ ]:
# Train a Random Forest Classifier model on the scaled data and print the model score
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')